.name{
  text-align: center;
  font-family: Roboto Mono;
  font-size: 60px;
  margin-bottom: 75px;
  width: 50%;
  margin-left: 25%;
}

p {
  text-indent: 7.5%;
  font-size: 25px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Questrial;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

#project-link {
  text-align: center;
  font-size: 25px;
  color: rgb(255,102,102);
  font-family: Roboto Mono;
  margin-bottom: 15px;
  margin-top: 25px;
}

#project-description {
  text-indent: 20px;
  font-size: 25px;
  font-family: Questrial;
  margin-left: 10%;
  margin-right: 10%; 
}

a:link {
  text-decoration: none;
  color: rgb(102,102,255); 
}

a:visited {
  text-decoration: none;
  color: rgb(102,102,255);
}

a:hover{
  color: rgb(255,102,102);
}